/* .container {
  -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.4);
  color: white;
  background-color: rgb(151, 56, 56);
  margin-top: 10%;
  padding: 20px;
  width: 30%;
}

.btn-primary {
  color: black;
  background-color: rgb(255, 252, 208);
  border-radius: 2px;
  border: 0;
} */


/* .................................. */

