span {
  font-weight: 600;
}

form {
  margin-bottom: 10px;
}

.list-group-item {
  color: white;
  background-color: rgb(151, 56, 56);
  margin-bottom: 4px;
}

.list-group-item:nth-child(odd) {
  background: rgb(151, 78, 78);
}

.list-group-item:hover {
  background-color: rgba(151, 56, 56, 0.747);
}

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.primary{
  width: 100%;
}

.container{
  margin-top: 3%;
}

h1{
  font-weight: bold;
}
