<h2>
  My todos</h2>
<ul>
  <li *ngFor="let todo of todosList">
    <span>{{todo.title}}</span> {{todo.description}}
    <p>data: {{todo.date}}</p>
    <a [routerLink]="['/detail/', todo._id]" class="btn btn-success">Szczegóły</a>
  </li>
</ul>

<h2>Create todo</h2>
<form>
  <div class="form-row">

    <div class="col-md-5">
      <input type="text" [(ngModel)]="newTodo.title" name="title" id="title" placeholder="Title" class="form-control">
    </div>
    <div class="col-md-5">
      <input [(ngModel)]="newTodo.description" name="description" id="description" placeholder="Description" class="form-control"
        id="description">
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary" (click)="create()">Add</button>
    </div>
  </div>
</form>
