.container {
  margin-top: 5%;
}

.form-control {
  padding: 1%;
}

input[type="text"]:focus,
.form-control select:focus {
  padding: 1.5%;
}

.primary {
  padding: 1%;
}

h2 {
  font-weight: bold;
}
