<div class="container" @slideLeft *ngIf="todo">
  <div class="formstyle2">
    <h2>{{ todo.title | uppercase }}</h2>
    <hr>
    <div>
      <div>
        <input type="text" name="title" id="title" [(ngModel)]="todo.title" placeholder="title" class="form-control">
        <input type="text" name="description" id="description" [(ngModel)]="todo.description" placeholder="description" class="form-control">
        <span>Data: </span>
        <p>{{todo.date}}</p>
        <span>Status: </span>
        <p>{{todo.status}}</p>
      </div>

    </div>
    <button type="button" class="primary" (click)="editTodo(todo)">Edytuj</button>
    <button type="button" class="primary" (click)="deleteTodo(todo)">Usuń</button>
    <button type="button" class="primary" (click)="goBack()">Powrót</button>
  </div>
