<h2>Rejestracja</h2><hr>
<form #f="ngForm" (ngSubmit)="submit(f)" novalidate>
  <div class="form-group">
    <input ngModel name="email" #email="ngModel" type="email" class="form-control" id="exampleInputEmail1"  placeholder="Podaj adres email">
  </div>
  <div class="form-group">
    <input ngModel name="password" #password="ngModel" type="password" class="form-control" id="exampleInputPassword1" placeholder="Podaj hasło">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
